# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
linux_venv/

# Environment variables file
.env

# SQLite database
backend/db.sqlite3

# Uploaded or generated images
backend/images/

# Redis dump file
dump.rdb

# Logs and other temp files
*.log
*.tmp

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Python dependency folders
*.egg-info/
dist/
build/
